<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <title>Modelmate - Models</title>
  <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
  <h1>Modelmate</h1>
  <nav>
    <a href="/models/">Home (Models)</a> |
    <a href="/colors/">Colors List</a> |
    <a href="/chemicals/">Chemicals List</a> |
    <a href="/users/" sec:authorize="hasRole('ROLE_ADMIN')">Users |</a>
    <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin Section |</a>
    <form th:action="@{/logout}" method="post" style="display: inline;">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <button type="submit" class="nav-button">Logout</button>
    </form>
  </nav>
</header>
<main>
  <h2>403 - Forbidden</h2>
  <p>Sorry, you don't have permission to access this page.</p>
  <a href="/models/">Back to Home</a>
</main>
</body>
</html>