<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modelmate - Models</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1>Modelmate</h1>
    <nav>
        <a href="/models/">Home (Models)</a> |
        <a href="/colors/">Colors List</a> |
        <a href="/chemicals/">Chemicals List</a> |
        <a href="/users/" sec:authorize="hasRole('ROLE_ADMIN')">Users |</a>
        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin Section |</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="nav-button">Logout</button>
        </form>
    </nav>
</header>
<main>
    <h2>Chemical Details</h2>
    <p><strong>Name:</strong> <span th:text="${chemical.name}">Chemical Name</span></p>
    <p><strong>Brand:</strong> <span th:text="${chemical.brand}">Brand</span></p>
    <p><strong>Type:</strong> <span th:text="${chemical.type}">Type</span></p>
    <p sec:authorize="hasRole('ROLE_ADMIN')">
        <strong>Created by:</strong>
        <span th:if="${color.user != null}" th:text="${color.user.name}">Autor</span>
        <span th:if="${color.user == null}">Neznámý uživatel</span>
    </p>
    <a th:href="@{/chemicals/{id}/edit(id=${chemical.id})}">Edit Chemical</a>
    <a th:href="@{/chemicals/{id}/delete(id=${chemical.id})}">Delete Chemical</a>
    <a href="/chemicals/">Back to Chemicals List</a>
</main>
</body>
</html>