<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modelmate - Models</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1>Modelmate</h1>
    <nav>
        <a href="/models/">Home (Models)</a> |
        <a href="/colors/">Colors List</a> |
        <a href="/chemicals/">Chemicals List</a> |
        <a href="/users/" sec:authorize="hasRole('ROLE_ADMIN')">Users |</a>
        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin Section |</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="nav-button">Logout</button>
        </form>
    </nav>
</header>
<main>
    <h2>List of All Colors</h2>
    <a href="/colors/add">Add New Color</a>
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        <tr th:each="color, iter : ${colors}">
            <td th:text="${iter.count}">No</td>
            <td th:text="${color.name}">Name</td>
            <td th:text="${color.brand}">Brand</td>
            <td th:text="${color.code}">Code</td>
            <td>
                <a th:href="@{/colors/{id}(id=${color.id})}">View</a>
                <a th:href="@{/colors/{id}/edit(id=${color.id})}">Edit</a>
                <a th:href="@{/colors/{id}/delete(id=${color.id})}">Delete</a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>