<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modelmate - Colors</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1>Modelmate</h1>
    <nav>
        <a href="/models/">Home (Models)</a> |
        <a href="/colors/">Colors List</a> |
        <a href="/chemicals/">Chemicals List</a> |
        <a href="/users/">Users</a> |
        <a href="/admin">Admin Section</a> |
        <a href="/logout">Logout</a>
    </nav>
</header>
<main>
    <h2>List of All Colors</h2>
    <a href="/colors/add">Add New Color</a>
    <table>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Code</th>
            <th>Actions</th>
        </tr>
        <tr th:each="color, iter : ${colors}">
            <td th:text="${iter.count}">No</td>
            <td th:text="${color.name}">Name</td>
            <td th:text="${color.brand}">Brand</td>
            <td th:text="${color.code}">Code</td>
            <td>
                <a th:href="@{/colors/{id}(id=${color.id})}">View</a>
                <a th:href="@{/colors/{id}/edit(id=${color.id})}">Edit</a>
                <a th:href="@{/colors/{id}/delete(id=${color.id})}">Delete</a>
            </td>
        </tr>
    </table>
</main>
</body>
</html>