<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Demo App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
        <h1 th:text="${department.id == 0 ? 'New Department' : 'Edit Department'}"></h1>

        <form method="post" th:action="@{/departments/save}" th:object="${department}">
            <input type="hidden" th:field="*{id}">
            Name: <input type="text" th:field="*{name}"><br>
            Abbreviation: <input type="text" th:field="*{abbreviation}"><br>
            Head: <input type="text" th:field="*{head}"><br>
            <input type="submit" value="Save">
        </form>
</body>
</html>