<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Demo App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
        <h1 th:text="${department != null ? 'Department: ' + department.name : 'Department not found.'}"></h1>

        <div th:if="${department != null}">
            <p>Abbreviation: <span th:text="${department.abbreviation}"></span></p>
            <p>Head: <span th:text="${department.head}"></span></p>
            <h3>Lecturers:</h3>
            <ul>
                <li th:each="lecturer: ${department.lecturers}" th:text="${lecturer.name}"></li>
            </ul>
            <a th:href="@{'/departments/' + ${department.id} + '/edit'}">Edit Department</a>
            <a th:href="@{'/departments/' + ${department.id} + '/delete'}">Delete Department</a>
        </div>

        <a th:if="${department == null}" th:href="@{/departments/}">Back to Department List</a>
</body>
</html>