<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<h1 th:text="${lecturer != null ? 'Lecturer: ' + lecturer.name : 'Lecturer not found.'}"></h1>

<div th:if="${lecturer != null}">
    <p>Email: <span th:text="${lecturer.email}"></span></p>
    <p>Academic Title: <span th:text="${lecturer.academicTitle}"></span></p>
    <p>Department: <a th:href="@{'/departments/' + ${lecturer.department.id}}" th:text="${lecturer.department.name}"></a></p>
    <a th:href="@{'/lecturers/' + ${lecturer.id} + '/edit'}" class="button">Edit Lecturer</a>
    <a th:href="@{'/lecturers/' + ${lecturer.id} + '/delete'}" class="button">Delete Lecturer</a>
</div>

<a th:if="${lecturer == null}" th:href="@{/lecturers/}" class="button">Back to Lecturer List</a>

</body>
</html>