<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Demo App</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" />
</head>
<body>
<h1 th:text="${lecturer.id == 0 ? 'New Lecturer' : 'Edit Lecturer'}"></h1>

<form method="post" th:action="@{/lecturers/save}" th:object="${lecturer}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"><br>
    Email: <input type="text" th:field="*{email}"><br>
    Academic Title: <input type="text" th:field="*{academicTitle}"><br>
    Department:
    <select th:field="*{department}">
        <option th:each="dept: ${departments}" th:value="${dept.id}" th:text="${dept.name}"></option>
    </select><br>
    <input type="submit" value="Save">
</form>

</body>
</html>