<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modelmate - Models</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1>Modelmate</h1>
    <nav>
        <a href="/models/">Home (Models)</a> |
        <a href="/colors/">Colors List</a> |
        <a href="/chemicals/">Chemicals List</a> |
        <a href="/users/" sec:authorize="hasRole('ROLE_ADMIN')">Users |</a>
        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin Section |</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="nav-button">Logout</button>
        </form>
    </nav>
</header>
<main>
    <h2 th:text="${model.id} ? 'Edit Model' : 'Add New Model'">Add New Model</h2>
    <form th:action="@{/models/save}" th:object="${model}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <p>
            <label>Name:</label>
            <input type="text" th:field="*{name}"/>
        </p>
        <p>
            <label>Description:</label>
            <textarea th:field="*{description}"></textarea>
        </p>
        <p>
            <label>Colors:</label><br/>
        <div th:each="color : ${colors}">
            <label>
                <input type="checkbox"
                       th:field="*{colors}"
                       th:value="${color.id}"/>
                <span th:text="${color.name + ' (' + color.brand + ')'}"></span>
            </label><br/>
        </div>
        </p>

        <p>
            <label>Chemicals:</label><br/>
        <div th:each="chemical : ${chemicals}">
            <label>
                <input type="checkbox"
                       th:field="*{chemicals}"
                       th:value="${chemical.id}"/>
                <span th:text="${chemical.name + ' (' + chemical.brand + ')'}"></span>
            </label><br/>
        </div>
        </p>
        <button type="submit">Save</button>
    </form>
    <a href="/models/">Back to Model List</a>
</main>
</body>
</html>