<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Modelmate - Models</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<header>
    <h1>Modelmate</h1>
    <nav>
        <a href="/models/">Home (Models)</a> |
        <a href="/colors/">Colors List</a> |
        <a href="/chemicals/">Chemicals List</a> |
        <a href="/users/" sec:authorize="hasRole('ROLE_ADMIN')">Users |</a>
        <a href="/admin" sec:authorize="hasRole('ROLE_ADMIN')">Admin Section |</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <button type="submit" class="nav-button">Logout</button>
        </form>
    </nav>
</header>
<h1 th:text="${user.id == 0 ? 'New User' : 'Edit User'}"></h1>

<form method="post" th:action="@{/users/save}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}"><br>
    Email: <input type="text" th:field="*{email}"><br>
    Username: <input type="text" th:field="*{username}"><br>
    Password: <input type="password" th:field="*{password}"><br>
    Role: <select th:field="*{role}">
    <option value="USER">USER</option>
    <option value="ADMIN">ADMIN</option>
</select><br>
    <input type="submit" value="Save">
</form>

</body>
</html>